<div class="browse-by-menu">
<ul class="post-cat-menu">
   <li>Category:</li>
  {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    {% if category_name != "Devotional"  and category_name != "Daily Life"%}
     <li><a class="category-title" href="{{site.baseurl}}/posts/category/#{{category_name|slugize}}">{{category_name}}</a></li>
     {% elsif category_name == "Devotional"%}
     <li><a class="category-title" href="{{site.baseurl}}/posts/category/#{{category_name|slugize}}">Devo.</a></li>
     {% elsif category_name == "Daily Life"%}
     <li><a class="category-title" href="{{site.baseurl}}/posts/category/#{{category_name|slugize}}">Life</a></li>
     {% endif %}
  {% endfor %}
</ul>
<ul class="post-cat-menu">
 <li>Year:</li>
 <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2019">2019</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2018">2018</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2016">2016</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2015">2015</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2014">2014</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2013">2013</a></li>
  <li><a class="category-title" href="{{site.baseurl}}/posts/all/#2012">2012</a></li>
</ul>
</div>
