<div class="newsletter-container">
  <h2 class="newsletter-title">Subscribe</h2>
  <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="_blank" >
    <p class="newsletter-text">Get new posts to your inbox</p>
    <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />
    <input type="hidden" value="scribblinghope/HOPE" name="uri" />
    <input type="hidden" name="loc" value="en_US" />
    <button class="newsletter-submit" type="submit">subscribe</button>
  </form>
</div>

