/**
 * Site header
 */
.site-header {
  border-top: 5px solid $pink-color-light;
  background-color: $pink-color;
  border-bottom: 1px solid $pink-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;


  // trying to do a nice gradient header
  background-image: linear-gradient(120deg, $silk-color, $gold-color);
}

.site-title {
  font-size: $title-size;
  font-family: $script-font-family;
  font-weight: 450;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $text-color;
  }
}

.site-subtitle {
  font-size: $base-font-size;
  font-style: italic;
  font-weight: 350;
  margin-bottom: 8px;
  line-height: normal;
  float: left;

  @include media-query($on-palm) {
    padding-right: 55px;
  }
}



.site-nav {
  position: absolute;
  top: 12px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $grey-color-dark;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    line-height: $base-line-height;
    display: block;
    padding: 5px 5px;
    color: $text-color;
    font-family: $script-font-family;
    font-size: $big-font-size;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 16px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $charcoal-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $charcoal-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}


.post-list {
  margin-left: 0;
  list-style: none;
  clear: left;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  font-style: normal;
  color: $grey-color;
}

.post-link {
}

.more-posts {
  font-size: $base-font-size;
}



/**
 * Post-nav
 */

.to-top {
  margin-left: 20px;
  font-size: $base-font-size;
}


.tags {
    text-align: center;
    font-style: normal;
    width: 80%;
    margin: 0.5em auto;
}
.tag {
    background: #efefef;
    padding: 0.3em 1em;
    border-radius: 1em;
    font-family: courier, monospace;
    display: inline-block;
    margin: 0.5em 0;
    font-size: 0.8em;
}
pre .tag {
    background: inherit;
    padding: 0;
    border-radius: 0;
    display: inline;
    margin: 0;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/**
 * Posts
 */
.post {
  //background-color: $paper-color-light;
  //border-radius: 15px 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.post-header {
}

.post-content {
  margin-bottom: $spacing-unit;
}

.social {
   margin-top: 75px;
   text-align: center;
}


.post-navigator {
   margin: auto;
   width: 50%;
   padding-bottom: 16px;
   text-align: center;
}


.direction {
   padding: 4px;
   color: white !important;
   text-decoration: none !important;
   border-radius: 4px;
   background-color: $button-blue;
   font-variant: small-caps;
  @include relative-font-size(1.15);
}


.comments {
   background: $silk-color;
   padding: 10px 10px 10px;
   border-radius: 10px;
}

