/**
 * Site header
 */
.site-header {
  border-top: 10px solid $warm-soil;
  background-color: $warm-soil;
  border-bottom: 1px solid $fringe-purple;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding: $spacing-unit/2 0 $spacing-unit/2 0;

  // Positioning context for the mobile navigation icon
  position: relative;


}

.site-title {
  font-size: $title-size;
  font-family: $script-font-family;
  font-weight: 450;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $text-color;
  }
}

.site-subtitle {
  font-size: $base-font-size;
  font-style: italic;
  font-weight: 350;
  margin-bottom: 8px;
  line-height: normal;
  float: left;

  @include media-query($on-palm) {
    padding-right: 55px;
  }
}



.site-nav {
  position: absolute;
  top: 12px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $grey-color-dark;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    line-height: $base-line-height;
    display: block;
    padding: 5px 5px;
    color: $text-color;
    font-family: $script-font-family;
//    font-size: $big-font-size;
    font-size: 30px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 16px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $fringe-purple;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}


.card {
  /* Add shadows to create the "card" effect */
  border-radius: 10px;
  box-shadow: 2px 4px 6px 0 $fringe-purple;
  transition: 0.3s;
  display: flex;
  margin: 0 0 50px 0;
  overflow: hidden;
}
  @media only screen and (max-width: 600px) {
.card {
  flex-wrap: wrap;
  }
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 4px 6px 10px 0 $fringe-purple;
}

.card-text {
  flex: 1 1 auto;
  margin: $spacing-unit/2;

  }

.card-link {
  color: inherit;
  text-decoration: none;                                                                           
}

.card-image {
  //margin: 20px;
  flex: 0 0 200px;
  object-fit: contain;
  align-self: flex-start;
}

.amazon-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.amazon-img {
  padding: 10px;
  margin-right: 20px;
  width: 175px;
}

.amazon-link {
  justify-content: right;
  margin-left: auto;
  margin-top: auto;
  align-self: bottom;

}




.post-list {
  margin-left: 0;
  list-style: none;
  clear: left;
  margin-bottom: $spacing-unit*2;

  > li {
    margin-bottom: $spacing-unit;
    margin-left: $spacing-unit/2;
  }
}

.post-meta {
  font-size: $small-font-size;
  font-style: normal;
  color: $grey-color;
}

.post-link {
}

.more-posts {
  font-size: $base-font-size;
}



/**
 * Post-nav
 */

.to-top {
  margin-left: $spacing-unit;
  font-size: 16px;
}

.year-marker{
  display: inline-block;
}


.tags {
    text-align: center;
    font-style: normal;
    width: 80%;
    margin: 0 auto $spacing-unit;
}
.tag {
    background: $light-grey;
    padding: 0.3em 1em;
    border-radius: 1em;
    font-family: courier, monospace;
    display: inline-block;
    margin: 0.5em 0;
    font-size: 16px;
}
pre .tag {
    background: inherit;
    padding: 0;
    border-radius: 0;
    display: inline;
    margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: $spacing-unit/2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/**
 * Posts
 */
.post {
}

.post-header {
}

.post-title {
  display: inline-block;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.social {
   //margin-top: 75px;
   //text-align: center;
   margin-bottom: $spacing-unit*2;
}

.share-img {
  width: 80px;
}
.share-img:hover {
  filter: brightness(110%);
}


.post-nav {
  padding: 0 10px 0 10px;
  margin: 0 5px 0 5px;
  font-size: 2em;


}


.comments {
   //background: $paper-color;
   //padding: 10px 10px 10px;
   //border-radius: 10px;
}

/**
 * Subscribe Form
 */

.newsletter-container {
  flex-direction: column;
  padding: $spacing-unit/2;
  margin-bottom: $spacing-unit;
  border-radius: 10px;
  box-shadow: 2px 4px 6px 0 $fringe-purple;
  transition: 0.3s;
  display: flex;
  overflow: hidden;
  font-size: $base-font-size;
}

/* On mouse-over, add a deeper shadow */
.newsletter-container:hover {
  box-shadow: 4px 6px 10px 0 $fringe-purple;
}

.newsletter-form {
}

.newsletter-title {
  margin-bottom: 0;
  font-size: 30px;
  font-family: $script-font-family;
}

.newsletter-email,
.newsletter-text,
.newsletter-submit {
  font-family: $base-font-family;
  display: inline-block;
  padding: 0;
  align-self: center;
  margin-bottom: $spacing-unit/2;
}


.newsletter-submit {
  margin: 0;
  text-align: center;
  width: 100%;
  padding-top: $spacing-unit/4;
  padding-bottom: $spacing-unit/4;
  background: $spring-bud;
}

@media screen and (min-width: 400px) {
    }


