---
layout: default
---
<div class="post">
<article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
   {% if page.previous.url %}
   <a class="post-nav" href="{{page.previous.url}}" title="Previous Post">&lsaquo;</a>
   {% endif %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}
    <span class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</span>
    </h1>
   {% if page.next.url %}
      <a class="post-nav" href="{{page.next.url}}" title="Next Post">&rsaquo;</a>
   {% endif %}
</div>
<div class="tags">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
    <span class="tag">
    {% if category != "Daily Life"%}
     <a href="{{site.baseurl}}/category/{{category|slugize|downcase}}">#{{category}}</a>
     {% elsif category == "Daily Life"%}
     <a href="{{site.baseurl}}/category/daily-life">#{{category}}</a>
     {% endif %}
     </span>
  {% endfor %}
</div>
  </header>



  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include share-page.html %}


<div class="comments">
   <div id="commento"></div>
   <script src="https://cdn.commento.io/js/commento.js"></script>
</div>



</div>
